services:
  db:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_PORT=${DB_PORT}
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  be:
    build: .
    ports: 
      - "3000:3000"
    depends_on:
      - db
    environment:
      REDIS_URL: ${REDIS_URL}
      JWT_SECRET: ${JWT_SECRET}

volumes:
  postgres-data: